html,

body {
  font-family: 'Cabin', serif;
  text-align: center;
  padding-top: 3rem;
  color: white;

  background: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  height: 100%;

}

.story {
  background-color: black;
  border: 2px solid orange;
  padding: 10px;
  margin: 50px;
  text-align: center;
  border-radius: 5px;
  visibility: hidden;
  color: white;
}

button:hover {
  background-color: yellow;
  color: black;
  border: 1px solid #fff;
}

.navbar-brand {
  font-family: 'Didot', serif;
  background-color: transparent;
}
